.App {
  margin: 0;
  padding: 0;
}

.content {
  height: 300vh;
}

.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vw
}

.lastScreen {
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vw
}

.head{
  font-size: calc(min(8vh, 9vw));
  font-weight: bolder;
}
.uh{
  font-size: calc(min(8vh, 9vw));
  font-weight: bold;
}
.aboutme {
  font-size: calc(min(4vh, 5vw));
  font-weight: lighter;
}
.glass {
  height: 95%;
  width: 95%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  padding: calc(min(5vh, 5vw));
}

.footer {
  height: 13vh;
  width: 100vw;
  text-align: center;
  background-color: #afafaf;
  font-size: calc(min(3vh, 4vw));
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.footer img{
  margin: 0.5vh 2vw;
  height: 40px;
 }

 .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}